{% extends 'layout.html' %} {% block body %}

<script type="text/javascript" src="static/BarcodeReader.js"></script>

<section class="jumbotron text-center">
  <div class="container">
      <h1 class="jumbotron-heading">부끄부끄의 새가족을 환영합니다.</h1>
    <p class="lead text-muted">
	책 공유는 좋아요♥ 연체는 싫어요! <br>
	부끄부끄에서 책과 함께 소중한 마음을 나누세요.
    </p>
  </div>
</section>

<form class="container" action="/regist_user" method="post" id="registForm" name="registForm">
	<div class="md-form">
		<div class="col-lg">
			<input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요." required>
			<div class="invalid-feedback">
			이름을 빼먹으시면 안되겠죠?
			</div>
		</div>
	</div>	

	<div class="md-form">
		<div class="col-lg">
		  <div class="input-group">
			<input type="email" id="email" name="email" class="form-control" placeholder="이메일을 입력하세요." required>
			<!--<button class="btn btn-default btn-sm" onclick="checkEmailAddr();">중복체크</button> --> 
		  </div>
			<div style="color:blue;">
			Email을 다시 한 번 확인해주세요. 잘못된 Email 주소를 입력할 시 대여/반납 처리가 불가능합니다.
			</div>
			<div class="invalid-feedback">
			자동 알림을 위해 이메일도 꼭 입력해 주세요.
			</div>
		</div>
	</div>
	
	<div class="md-form">
		<div class="col-lg">
			<input type="password" id="password" name="password" class="form-control" placeholder="패스워드를 입력하세요." required>
		</div>
	</div>
	
	<div class="md-form form-group">
		<div class="col-lg">
			<input type="password" id="pass2" name="pass2" class="form-control" placeholder="패스워드를 다시 입력하세요." required>
		</div>
	</div>
	
	<div class="md-form form-group">
		<div class="col-lg">
			<br>
			<input type="checkbox" id="agree" name="agree">&emsp;
			개인정보 수집에 동의합니다.
		</div>
	</div>
	
	<div id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="card">
		<div class="card-header" role="tab" id="headingOne" style="background-color:#f0f0f5;">
		  <h6 class="mb-0">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: gray;">
			  개인정보 처리방침 원문 보기
			</a>
		  </h6>
		</div>

		<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
		  <div class="card-block">
			{% include 'privacy.html' %}
		  </div>
		</div>
	  </div>
	</div>
	<br><br>

	<div class="form-group">
		<div class="col-sm">
			<button type="button" onclick="return registUser()" class="btn btn-primary btn-lg btn-block">부끄부끄 가입</button>
		</div>
	</div>
	<!--<form id="checkEmailForm" name="checkEmailForm" action="/checkEmail" method="post">
		<input type="hidden" id="hiddenEmail" name="hiddenEmail" value="">
	</form>-->
	
</form>


<script type="text/javascript">
 function checkPass(){
		var check = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{6,16}$/;
 
	   if (document.getElementById("password").value != document.getElementById("pass2").value) {
		   alert("password를 확인해주세요!");
		   return false;
	   }else if(document.getElementById("password").value.length <8 || document.getElementById("password").value.length >20 ){
		   alert("password는 8자 이상, 20자 이내여야 합니다.");
		   return false;
	   }else if(!check.test(document.getElementById("password").value)) {
		   alert("password는 영문+숫자+특수문자 포함 8자 이상, 20자 이내여야 합니다.");
		   return false;			
	   }else {
		   return true;
	   }
   }
   
 function checkEmail() {
	var email = document.getElementById("email").value;

		//var exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

			if(exptext.test(email)==false){	
				alert("Email 형식이 올바르지 않습니다.");
				return false;
			}
}
   
/*function checkEmailAddr() {
	alert("");
	var email = document.getElementById("email").value
	document.getElementById("hiddenEmail").value = email
	
	document.checkEmailForm.submit();
}*/
   
 /*function checkEmail2(){
 
	var email = document.getElementById("email").value
	var emailAddr = email.splite("@");
 
	if (email.indexOf("@") != -1) {
	   if ( emailAddr[1] != 'hyundai.com' || emailAddr[1] != 'kia.com') {
		   alert("EMAIL은 hyundai.com 또는 kia.com 만 사용 가능합니다.");
		   return false;
	   } else {
		   return true;
	   }
	   
	}
   }*/
   
 function registUser() { 
   if (checkPass() == false) {
	   return false;
   }else if(checkEmail() == false){
	   return false;
   }else if(!agree.checked) { 
	   alert("개인정보 수집에 동의해주세요!");
	   return false;
   }else {
	   document.registForm.submit();
   }
	   
   }
</script>


{% endblock %}
