{% extends 'layout.html' %} {% block body %}

<script type="text/javascript" src="static/BarcodeReader.js"></script>

<form class="form-horizontal" action="/regist_book" method="post">

      <p class="h2 text-center mb-4">책 등록하기</p>

      <div class="md-form">
        <i class="fa fa-star prefix grey-text"></i>
        <input type="text" id="name" name="name" class="form-control" placeholder="등록자 이름을 입력하세요.">
      </div>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="email" name="email" class="form-control" placeholder="등록자 이메일을 입력하세요.">
      </div>

      <div class="md-form">
        <i class="fa fa-book prefix grey-text"></i>
        <input type="text" id="inputISBN" name="inputISBN" class="form-control" placeholder="등록하려는 책의 ISBN을 입력하세요.">
      </div>

      <!--
      <div class="text-center">
        <button class="btn btn-default">Login</button>
      </div>
      //-->

      <div class="text-center">
        <button class="btn btn-default" onclick="return barcodescan();">바코드 스캔</button> &nbsp;
        <input id="Take-Picture" type="file" accept="image/*;capture=camera" style="display:none">
        <button class="btn btn-default" onclick="return SearchBook();">직접 입력</button>
      </div>



      <!--
	<span style="font-size: 30px;"><b>책 등록</b></span>
	<br><br><hr color="gray" width="85%" align="left"><br>	
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">등록자</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name"  placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputISBN" class="col-sm-2 control-label">ISBN</label> 		    	 
    <div class="col-sm-10">
      	<canvas width="320" height="240" id="picture" style="display:none"></canvas>
		<input type="text" class="form-control" id="inputISBN" name="inputISBN" placeholder="ISBN" value=''><br>
		<button class="btn btn-default" onclick="return barcodescan();" >바코드스캔</button> &nbsp;
		<input id="Take-Picture" type="file" accept="image/*;capture=camera" style="display:none">
		<button class="btn btn-default" onclick="return SearchBook();">&nbsp;&nbsp; 직접입력 &nbsp;&nbsp;</button>
	  
    </div>


  </div>
  //-->
 
  <hr color="#f0f0f5" width="100%" align="center">
  <div class="form-group">
    <label for="inputBookName" class="col-sm-2 control-label">도서명</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="Book Name" readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAuthor" class="col-sm-2 cont
    <div class="col-sm-10">
      <input type="text" class="form-control" id="author" name="author" placeholder="Author" readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDetail" class="col-sm-2 control-label">상세내용</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="description" name="description" placeholder="Detail" readonly rows="5"></textarea>
    </div>
  </div>
  <input type="hidden" id="image" name="image" value="">
  <input type="hidden" id="link" name="link" value="">
  
  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg btn-block">등록하기</button>
    </div>
  </div>
</form>

 <script type="text/javascript">
	var takePicture = document.querySelector("#Take-Picture"),
	showPicture = document.createElement("img");
	Result = document.getElementById("inputISBN");
	var canvas =document.getElementById("picture");
	var ctx = canvas.getContext("2d");
	JOB.Init();
	JOB.SetImageCallback(function(result) {
		if(result.length > 0){
			var tempArray = [];
			for(var i = 0; i < result.length; i++) {
				tempArray.push(result[i].Format+" : "+result[i].Value);
			}
			// Result.value=tempArray;
			Result.value=tempArray[0].split(':')[1].trim();
			SearchBook();
		}else{
			if(result.length === 0) {
				Result.innerHTML="Decoding failed.";
			}
		}
	});
	JOB.PostOrientation = true;
	JOB.OrientationCallback = function(result) {
		canvas.width = result.width;
		canvas.height = result.height;
		var data = ctx.getImageData(0,0,canvas.width,canvas.height);
		for(var i = 0; i < data.data.length; i++) {
			data.data[i] = result.data[i];
		}
		ctx.putImageData(data,0,0);
	};
	JOB.SwitchLocalizationFeedback(true);
	JOB.SetLocalizationCallback(function(result) {
		ctx.beginPath();
		ctx.lineWIdth = "2";
		ctx.strokeStyle="red";
		for(var i = 0; i < result.length; i++) {
			ctx.rect(result[i].x,result[i].y,result[i].width,result[i].height); 
		}
		ctx.stroke();
	});
	if(takePicture && showPicture) {
		takePicture.onchange = function (event) {
			var files = event.target.files;
			if (files && files.length > 0) {
				file = files[0];
				try {
					var URL = window.URL || window.webkitURL;
					showPicture.onload = function(event) {
						Result.innerHTML="";
						JOB.DecodeImage(showPicture);
						URL.revokeObjectURL(showPicture.src);
					};
					showPicture.src = URL.createObjectURL(file);
				}
				catch (e) {
					try {
						var fileReader = new FileReader();
						fileReader.onload = function (event) {
							showPicture.onload = function(event) {
								Result.innerHTML="";
								JOB.DecodeImage(showPicture);
							};
							showPicture.src = event.target.result;
						};
						fileReader.readAsDataURL(file);
					}
					catch (e) {
						Result.innerHTML = "Neither createObjectURL or FileReader are supported";
					}
				}
			}
		};
	}
	
	function barcodescan(){
		document.getElementById('Take-Picture').click();
		return false;
	}
	
	function SearchBook(){
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		var book_data=[];
		$.getJSON($SCRIPT_ROOT + '/_get_book', {ISBN: $('input[name="inputISBN"]').val(),}, 
			function(data) {
				$.each(data, function(key, val) { 
					try{
						document.getElementById(key).value=val; 
						}
					catch(err){
					}
				}
				); 						
			}
		);
        return false;

}
		
</script>


{% endblock %}
