{% extends 'layout.html' %} {% block body %}

<script type="text/javascript" src="static/BarcodeReader.js"></script>

<section class="jumbotron text-center">
  <div class="container">
      <h1 class="jumbotron-heading">책을 반납할게요.</h1>
    <p class="lead text-muted">
	책은 잘 보셨나요?<br>
	재밌게 보셨다면, 책도 제때에 돌려주어야 겠지요?<br>
    돌려주실 땐 감사의 인사도 빼먹지 않는 센스!!<br>
    </p>
  </div>
</section>

<form class="form-horizontal" action="/return_book" method="post">

      <div class="md-form col-lg-6">
        <input type="text" id="name" name="name" class="form-control" placeholder="반납하는 분 이름을 입력하세요." required>
      </div>

      <div class="md-form col-lg-6">
        <input type="text" id="email" name="email" class="form-control" placeholder="반납하는 분 메일을 입력하세요." required>
      </div>

      <div class="form-group">
        <div class="col-sm">
          <button type="submit" class="btn btn-primary btn-lg btn-block">빌린 책 조회해 보기</button>
        </div>
      </div>
      <hr color="#f0f0f5" width="100%" align="center">

      <!--
      <div class="text-center">
        <button class="btn btn-default">Login</button>
      </div>

      <div class="text-center">
        <button class="btn btn-default" onclick="return SearchBook();">직접 입력</button>
      </div>
      //-->

    <div class="row">
      {% for book in books %}

      <div class="col-sm-12">
          <div class="row">
            <div class="col-3">
              <a href="{{book.link}}"><img src="{{book.image}}?type=m106" onerror="this.src='http://static.naver.net/book/image/noimg_m172.gif'" alt="book-cover" class="rounded img-responsive" width="80" height="120"/></a>
            </div>
            <div class="col-9">
              <p>
              {{book.title}}<p>
              <small>{{book.author}}<br>{{book.created_date}}</small>
              <div class="col">
			    {% include 'modal.html' %}
                <button class="btn btn-primary float-right btn-sm" data-toggle="modal" data-target="#{{book.book_no}}" >반납하기</button>
              </div>
            </div>
          </div>
          <hr />
      </div>

      {% endfor %}


      <!--
  <hr color="#f0f0f5" width="100%" align="center">
  <div class="form-group">
    <label for="inputBookName" class="col-sm-2 control-label">도서명</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="Book Name" readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAuthor" class="col-sm-2 cont
    <div class="col-sm-10">
      <input type="text" class="form-control" id="author" name="author" placeholder="Author" readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDetail" class="col-sm-2 control-label">상세내용</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="description" name="description" placeholder="Detail" readonly rows="5"></textarea>
    </div>
  </div>
  <input type="hidden" id="image" name="image" value="">
  <input type="hidden" id="link" name="link" value="">

  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg btn-block">등록하기</button>
    </div>
  </div>
  //-->
</form>

{% endblock %}
